<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h2>Login</h2>
</head>
<body>
<div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/chat"><img src="{% static 'img/HotelLogo.jpg' %}" style="width: 200px; height: 100px; text-align: center"/></a>
            <span style="position: absolute;top: 10px;right: 75px;">
                <a href="/login" style="position: relative;display: inline-block;color: #ADB9CA;padding: 0px 16px 0px 0px">Login</a>
                <span style="color: #ADB9CA">|</span>
                <a href="/login" style="position: relative;display: inline-block;color: #ADB9CA;padding: 0px 16px 0px 15px">Join</a>
                <span style="color: #ADB9CA">|</span>
                <a href="/login" style="position: relative;display: inline-block;color: #ADB9CA;padding: 0px 0px 0px 15px;" >My Reservation</a>
            </span>
          <div style="position: center;padding: 0px 66px 0px 30px;">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">About The Hotel</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Reservation
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Room</a>
                  <a class="dropdown-item" href="#">F&B</a>
                  <a class="dropdown-item" href="#">House Keeping</a>
                  <a class="dropdown-item" href="#">Concierge</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">Inquiries</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>

    <div>

    </div>
</body>

<script>
    var chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/login/');
</script>
</html>